{% extends "base.html" %}

{% block title%} {{ title }}{% endblock%}

{% block content%}
	<form action = '/diet/push' method = 'POST' align = 'center'>
		<p>date:<input type = 'text' name = 'date' value = '2014-05-30'/></p>
		<p>breakfast:<input type = 'text' name = 'adiet' value = 'breakfast'/></p>
		<p>userName:<input type = 'text' name = 'userName' value = 'test123'/></p>
		<p>userName:<input type = 'text' name = 'userName' value = 'test123'/></p>
		<p>userName:<input type = 'text' name = 'userName' value = 'test123'/></p>
	</form>
{% endblock%}
