<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>{{ title }}</title>
</head>
<body>
<form action="registe" method="post">
	<p>用户名：<input type="text" name="userName"></p>
	<p>密码：<input type="password" name="password"></p>
	<p>手机号码：<input type="text" name="phoneNum" value="13560323563"></p>
	<p>身高：<input type="text" name="height" value="175.00"></p>
	<p>体重：<input type="text" name="weight" value="64.0"></p>
	<p><input type="submit"  value="Submit"></p>
</form>

</body>
</html>